<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
   <div>
      <a href="https://reimagined-funicular-q7vxvj44gx6pc97r7-3000.app.github.dev/rock">Play Rock</a>
    </div>
   <div>
    <a href="https://reimagined-funicular-q7vxvj44gx6pc97r7-3000.app.github.dev/paper">Play Paper</a>
    </div>
    <div>
      <a href="https://reimagined-funicular-q7vxvj44gx6pc97r7-3000.app.github.dev/scissors">Play Scissors</a>
    </div>

    <%= yield %>

    <footer>
      All rights reserved.
    </footer>

  </body>
</html>
